@model my_boot.Models.Category
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
</hr>
</hr>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Cat_name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Cat_name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Cat_image)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Cat_image)

        @* <img src="@Url.Content(.Cat_image)" alt="Girl in a jacket" width="50" height="50">*@
        <img src="@Url.Content(Model.Cat_image)" alt="Girl in a jacket" style="height : 60px;width : 60px;" />
    </dd>

</dl>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Cat_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


